.socialFooter {
  text-align: center;
}
.authorFooter {
 color: black;
  text-align: center;
}
h6 {
  font-size: 16px;
}
ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
  }
ul.social-network li {
  display: inline;
  margin: 0 5px;
  padding: 0;
}
.social-circle li .socialIcon {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 28px;
  border-color: white;
}
.social-circle li i {
  margin: 0;
  line-height: 40px;
  color: Black;
}
.social-circle li .socialIcon:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: white;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
footer{
  height: 20vh;
  background-color: lightseagreen;
  padding-top: 5vh;
}




  @media (min-width: 992px) {
    ul.social-network {
      float: right;
    }
    .authorFooter {
      text-align: left;
    }
    h6 {
      font-size: 16px;
    }
  }