body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/developer.png");
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: 150vh;
    background-attachment: fixed;
    text-align: center;
}
nav {
    color: white;
}
h1 {
    font-size: 4em;
    color: white;
}
h2 {
    text-align: center;
}
.jumbotron {
    background-color: black;
    opacity: 0.8;
}
.jumbotron h1 {
    color: white;
}
.jumbotronInto {
    margin-top: 10vh;
}
.jumbotronStory {
    margin-top: 5vh;
}
.mainTitle {
    color: white;
}
.subTitle {
    color: lightseagreen;
}
.commentIntro {
    max-width: 600px;
    color: lightseagreen;
    margin: auto;
}
.comment {
    max-width: 600px;
    color: lightseagreen;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
.techTitle {
    color: black;
}
.projectsBackground {
    min-height: 100vh;
}
.frontEndProjectsBackground {
    padding-top: 12vh;
    background-color: lightseagreen;
}
.dataVizProjectsBackground {
    padding-top: 12vh;
    background-color: lightseagreen;
}
.backEndProjectsBackground {
    padding-top: 12vh;
    background-color: lightseagreen;
}
.projectsRow {
    margin: auto;
    max-width: 1120px;
    padding-top: 10vh;
    text-align: center;
}
.frontEndProjectsRow {
    background-color: lightseagreen;
}
.dataVizProjectsRow {
    background-color: lightseagreen;
}
.backEndProjectsRow {
    background-color: lightseagreen;
}
.individualProject{
    max-width: 280px;
    margin:auto;
}
.thumbnail {
    margin-bottom:10px;
	-webkit-box-shadow: 0 11px 6px -6px  rgb(75, 75, 75);
	   -moz-box-shadow: 0 11px 6px -6px  rgb(75, 75, 75);
	        box-shadow: 0 11px 6px -6px rgb(75, 75, 75);
}



@media (min-width: 768px) {
    body {
        background-size: 200vw;
    }
    .jumbotronInto {
        margin-top: 20vh;
    }
    .jumbotronStory {
        margin-top: 15vh;
    }
}

@media (min-width: 992px) {

body {
    background-size: 150vw;
}
}