body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/developer.png");
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: 100vw;
    background-attachment: fixed;
}
h1 {
    font-size: 4em;
}
h2 {
    text-align: left;
    text-align: center
}
.jumbotron {
    margin-top:15vh;
    background-color: black;
    opacity: 0.7;
}
.mainTitle {
    color: white;
}
.subTitle {
    color: lightseagreen;
}
.comment {
    max-width: 500px;
    margin-top:15vh;
    margin-bottom: 15vh;
    color: lightseagreen;
}
.techTitle {
    padding-top: 6em;
    color: black;
}
.projectsBackground {
    min-height: 100vh;
}
.frontEndProjectsBackground {
    background-color: lightseagreen;
}
.dataVizProjectsBackground {
    background-color: lightseagreen;
}
.backEndProjectsBackground {
    background-color: lightseagreen;
}
.projectsRow {
    margin: auto;
    max-width: 1120px;
    padding-top: 10vh;
    text-align: center;
}
.frontEndProjectsRow {
    background-color: lightseagreen;
}
.dataVizProjectsRow {
    background-color: lightseagreen;
}
.backEndProjectsRow {
    background-color: lightseagreen;
}
.individualProject{
    max-width: 280px;
    margin:auto;
}
.thumbnail {
    margin-bottom:10px;
	-webkit-box-shadow: 0 11px 6px -6px  rgb(75, 75, 75);
	   -moz-box-shadow: 0 11px 6px -6px  rgb(75, 75, 75);
	        box-shadow: 0 11px 6px -6px rgb(75, 75, 75);
}


